# Ignore compiled Python files
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Ignore logs and temp files
*.log
*.tmp
*.swp
*.swo
*.bak
*.~*
*.env
.gitignore

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/.env
